.detail-container {
  padding: 40px 80px;
  background: #f8f5f2;
}

.breadcrumb {
  color: #bfa46f;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.detail-page {
  display: flex;
  gap: 60px;
}

.left img {
  width: 500px;
  border-radius: 10px;
}

.right {
  max-width: 500px;
}

.right h1 {
  font-size: 36px;
}

.price {
  color: #c75c6f;
}

.desc {
  margin: 20px 0;
  line-height: 1.6;
}

/* SIZE */
.sizes button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: white;
  margin-right: 10px;
  cursor: pointer;
}

/* ACTIVE */
.sizes button.active {
  background: black;
  color: white;
}

/* BUTTON */
.add-btn {
  margin-top: 20px;
  padding: 14px 30px;
  background: black;
  color: white;
  border: none;
}